body{
  overflow: hidden;
}
  .morningAzkar,.eveningAzkar,
  .prayerLaterAzkar,.prayer-azkar,.hajjAndUmrahAzkar{
    width: 80%;
    margin: 20px auto;
    margin-top: 100px;
    height:297px;
    overflow: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background: #2a9d8f;
    color: white;
}
.more-btn {
    background: #2a9d8f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.more{
  height: auto;
}

