body{
    overflow: hidden;
}
.logo{
    width: 60px;
    border-radius: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    background-color: #a52a2a;
    z-index: 100;
    top: 0%;
    display: none;
}
.nav-link{
    color: white;
}
#quranLive , #sunaLive{
  width: 100%;
  height: 400px;
  display: none;
}
.playVideo{
  position: absolute;
  top:50%;
}

/* spinner */
.spinner{
    position: fixed;
    top:0;
    left: 0%;
    right: 0%;
    bottom:0;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.loader {
    position: relative;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
  }
  .loader:after{
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
     border-radius: 50%;
  }
  .loader:before{
    content: '';
    position: absolute;
    inset: 0px;
    margin: auto;
    background: #de3500;
    animation: crlMugLoader 2s linear infinite alternate;
  }
  @keyframes crlMugLoader {
    0%  ,10% { transform: translateY(64px) }
    90% , 100% { transform: translateY(0px) }
  }
      

/* footer */
ul{
	list-style: none;
}
.footer{
	background-color: brown;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
