body{
  overflow: hidden;
}
/* spinner */
.spinner{
  position: fixed;
  top:0;
  left: 0%;
  right: 0%;
  bottom:0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
}
.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
   border-radius: 50%;
}
.loader:before{
  content: '';
  position: absolute;
  inset: 0px;
  margin: auto;
  background: #de3500;
  animation: crlMugLoader 2s linear infinite alternate;
}
@keyframes crlMugLoader {
  0%  ,10% { transform: translateY(64px) }
  90% , 100% { transform: translateY(0px) }
}
.modal{
  z-index: 10000000000;
}
.website {
  width: 0px;
  height: 10px;
  margin: auto;
  background-color: #a52a2a;
}

.player {
  transition: 1s;
  display: none;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.slid-row {
  height: 200px;
  align-items: center;
  position: relative;
}

.slid-row img {
  height: 200px;
  width: 80%;
  object-fit: cover;
}

.mopile-child {
  display: flex;
  justify-content: end;
}

.menu,
.fa-circle-play {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.input-serch {
  width: 80%;
  margin: auto;

}

.serch-icon {
  transform: translateX(-50%);
  left: 85%;
  top: 10px;
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.serch-name {
  width: 30%;
  border: 2px solid gray;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-reciters{
  display: flex;
  justify-content: end;
  gap: 7px;
}
.all-reciters span{
  display: inline-block;
  margin-right: 10px;
  background-color: #1AC15C;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
}
.background .arrow {
  background-color: #80808098;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  border-radius: 100%;
  display: none;
}

.background .arrow i {
  padding: 20px;
  font-size: 30px;
  color: brown;
  animation-name: spped;
  animation-duration: .75s;
  animation-iteration-count: infinite;
  scroll-behavior: smooth;
}

@keyframes spped {

  50% {
    transform: translateY(-10px);

  }
}

.sc1 {
  margin: 100px auto;
  padding: 15px;
  position: relative;
  background-color: rgba(165, 42, 42, 0.678);
}

.sc1 .sc1-image {
  width: 100px;
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: 50%;
}

.sc2 {
  width: 100%;
  background-color: rgba(165, 42, 42, 0.568);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 80px;
  height: auto;
}

.sc2 .hadith-logo {
  position: absolute;
  width: 100px;
  border-radius: 50%;
  right: -25px;
  top: -50px;
}

.reciters-name {
  margin-bottom: 80px;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url('/dist/image/001.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 0, 0, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* swiper slid */
.swiper-container {
  width: 80%;
  height: 290px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 575px) {
  .mopile-pirant {
    flex-direction: column;
    gap: 3px;
  }

  .mopile-child {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .modal {
    width: 100%;
    margin-left: auto;
    z-index: 10000000000;
  }

  .serch-name {
    width: calc(100%/1);
    border: 2px solid gray;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
  }

  .hadith-logo,
  .sc1-image {
    display: none;
  }
}

@media (min-width:576px) and (max-width:770px) {
  .serch-name {
    width: 45%;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
  }
}