.time-piranr{
  padding: 15px;
  margin-top: 20px;
  background-image: url("/dist/image/time001.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  border-radius: 20px;
}
.time-piranr div{
  display: flex;
  justify-content: space-between;
  gap: 10px;

}
.time-piranr div div{
  padding: 10px;
  border: 2px solid brown;
  border-radius: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight:500;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(15px);
}
.azanTime{
  display: flex;
  justify-content: space-around;
}

.box{
    width: fit-content;
    display: flex;
    align-items: start;
    position: fixed;
    top: 110px;
    left: -195.75px;
    z-index: 10000000000;
    display: none;
  }
  .box .colors{
    color: white;
    background-color: #ff0000;
    border: solid 4px black;
    padding: 10px;
  }
  .box .costmize{
background-color: #f3f3f3;
  }
  .box i{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  .color-item{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: orange;
  }